 MONGO_URI=mongodb+srv://mdahossendev_db_user:L69I4U00cfMIDj4g@cluster0.wqn5vdu.mongodb.net/?appName=Cluster0

# L69I4U00cfMIDj4g
# mdahossendev_db_user
# mongodb+srv://<db_username>:L69I4U00cfMIDj4g@cluster0.wqn5vdu.mongodb.net/?appName=Cluster0
